   
aside{
    position: fixed;
    left: 0;
    top: 0;
    width: 7.3rem;
    height: 100vh;
    z-index: 10;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

aside p{
    color: white;
    position: absolute;
    bottom: 60px;
    writing-mode: vertical-rl;
    font-size: 12px;
    transform: rotate(180deg);
}

aside img{
    height: 64px;
    width: 64px;
    transition: 0.5s;
}

.aside a{
    padding: 0;
    margin: 0;
}

aside img:hover{
    height: 85px;
    width: 85px;
    transition: 0.5s;
}

.aside nav{
    gap: 20px !important;
    width: 100%;
    justify-content: center !important;
    flex-direction: column !important;
}