
.header{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    padding: 1rem;
    height: 5.625rem;
    box-sizing: border-box;
    z-index: 11;
    box-shadow: 0 0.2rem 0.6rem hsla(0, 0%, 0%, 0.5);
}

.header nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.header nav a{
    padding: 28px 15px 28px 15px;
    transition: 0.5s;
}

.header nav a:hover{
    transition: 0.5s;
    font-size: 28px;
}

.header img{
    margin: 1% 0 1% -60px;
    min-width: 11.125rem;

}

.header nav {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

