
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
}

li{
  list-style-type: none;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
nav img {
  height: 60px;

}
nav a{    
  color: white;
  font-size: 24px;
}